node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
.vscode/
.DS_Store
coverage/
bin/
obj/
*.dll
*.pdb
*.exe
*.user
*.vs/
.vscode/
.vsconfig
appsettings.Development.json
appsettings.Local.json
*.suo
*.user
*.userosscache
*.sln.docstates
publish/
